<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>register</title>
    <link rel="stylesheet" href="../css/main.css">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="jumbotron d-flex justify-content-center">
      <img
        src="../User Icon, User Icons, Abstract, Avatar PNG and Vector with Transparent Background for Free Download.jpg"
        class="img-thumbnail"
        alt=""
        style="height: 40vh"
        srcset=""
      />
    </div>
    <div class="container mt-4">
      <h1 id="displayName"></h1>
    </div>

    <div class="top-info">
      <button class="btn btn-danger" id="logout">logout</button>
    </div>

    <script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-auth.js"></script>
    <script src="../js/config.js"></script>
    <script src="../js/register.js"></script>
    <script src="../js/profile.js"></script>
  </body>
</html>
